body {
    background-image: url("img/FPag3.png");
    backdrop-filter: blur(4px);
    margin: 0;
    padding: 0;
}
h1 {
    color: aliceblue;
}
img {
    height: 260px;

    border-radius: 30px;
}
p {
    color: aliceblue;
    line-height: 23px;
}
.Chetos{
    padding-top: 25px;
    padding-bottom: 50px;
    display:flex;
    gap: 0px;
}
.Sec1 {
    
    text-align: justify;
    margin-right: 60px;
    margin-left: 50px;
    gap: 20px;
}
.Sec2 {
    text-align: justify;
    margin-left: 50px;
    margin-right: 80px;
}
.Sec3 {
    text-align: justify;
    margin-left: 70px;
    margin-right: 50px;
}